
<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
{% include "header.html" %}
<style>
    .text-center {
        justify-content: center;
    }

    .splbtn {
        margin: 0 20px;
    }

    .card {
        margin: 30px 0;
    }
</style>

<div class="container">
    <div class="card mb-12">
    <div class="card-header">
        <h2 class="heading text-center">Signup</h2>
    </div>
    <div class="card-body">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {%  bootstrap_field user_form.username %}
                </div>
                <div class="col-md-4">
                    {%  bootstrap_field user_form.email %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {%  bootstrap_field user_form.password1 %}
                </div>
                <div class="col-md-4">
                    {%  bootstrap_field user_form.password2 %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {%  bootstrap_field profile_form.name %}
                </div>
                <div class="col-md-4">
                    {%  bootstrap_field profile_form.college_id %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_college">College</label>
                        <input type="text" name="college" maxlength="250" class="form-control" placeholder="College" title="" required="" id="id_college" list="colleges">
                        <datalist id="colleges">
                        {% for college in college_list %}
                            <option value="{{college}}">
                        {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="col-md-4">
                    {%  bootstrap_field profile_form.branch_of_study %}
                </div>
            </div>
            <div class="row text-center">
                <button type="submit" class="splbtn btn btn-primary btn-lg">Submit</button>
                <button type="reset" class="splbtn btn btn-default btn-lg">Reset</button>
            </div>
        </form>
    </div>
</div>
</div>

{% include "footer.html" %}
</body>
</html>


