#time{
    display:block;
    height:50px;
    line-height: 50px;
    border-radius:15px;
    margin:0 10px;
   color: white;
   background-color: cornflowerblue;
}
body{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.0500em;
}

#homelink {
    text-decoration: none;
    color:white;
    font-size:2em;
    text-decoration: none;
}

#homelink:hover {
    text-decoration: none;
}
.navbar-brand span{
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.0800em;
}

.row {
    margin-top:50px;
}

#time {
    text-align: center;
}

.modal-lg {
    max-width:80% !important;
}

#res{
   display:none;
   margin:0 10%;
}

#essay {
    text-align: justify;
}

pre {
    display:inline;
    border:none;
    background-color: white;
}

span.error {
    text-decoration: underline;
}

span.spelling {
    color:white;
    font-weight: bold;
    background-color: darkred;
}

span.grammar {
    font-weight: bold;
    font-style: italic;
    background-color: yellow;
}

span.correct {
    color:#444444;
}

.hidden {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 200px auto 0 auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

  #loader {
      display:none;
      z-index:100;
      top:0px;
      left:0px;
      position:fixed;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.8);
  }