{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "answer.css"%}"/>
    <div id="loader">
        <div class="loader">
            
        </div>
    </div>
    <p id="myqid" class="hidden" >{{question.id}}</p>
    <p id="starttime" class="hidden">{{starttime}}</p>
    
    <div class="container">
        <div class="row">
                <h3 class="col-sm-8 col-md-8">{{ question.question }}</h3>
                <h4 class="col-sm-3 col-md-3" id="time">{{question.time_limit}}</h4>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
             class="col-sm-10 col-md-10" id="id_answer" rows="10" cols="120" placeholder="Write your essay here"></textarea>

            <p class="col-sm-10 col-md-10" id='essay'></p>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <h4 class="col-sm-4 col-md-4" id="wordcount">{{question.word_limit}}</h4>
            <button class="col-sm-4 col-md-4 btn btn-primary btn-lg" type="button"
                    id="submit_button">Submit</button>
        </div>
        <div class="row" id="res">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Overall Score</th>
                        <td id="score"></td>
                    </tr>
                    <tr>
                        <th>Word Count</th>
                        <td id="w_c"></td>
                    </tr>
                    <tr>
                        <th>Grammar Errors</th>
                        <td id="grammar"></td>
                    </tr>
                    <tr>
                        <th>Spelling Mistakes</th>
                        <td id="spelling"></td>
                    </tr>
                    <tr>
                        <th>Word Limit Check</th>
                        <td id="wordlimit">Essay does not meet required word limit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height:30px;"></div>
{% include "footer.html" %}
<script src="{% static "displayresults.js" %}"></script>
<script src="{% static "userattempt.js" %}"></script>

</body>
</html>