{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "answer.css"%}"/>
<style>
    #hi{
        font-weight: bolder;
    }
    #hello{
       font-style: italic;
       font-weight: bold;
    }
    .userattempt {
        text-decoration: underline;
        cursor: pointer;
    }
    .userattempt:hover {
        font-weight: bold;
    }

    .table {
        font-size:1.2em;
    }

</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
<div class="masthead text-center">
    <h1>Test Takers Performance</h1>
<div class="container">
   
<table id="leaderboard" class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Average Score</th>
        <th>Total Attempts</th>
        <th>Last Attempt Time</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td class="userattempt" onclick = "showUserChart('{{result.userid}}', '{{result.username}}')">{{result.username}}</td>
        <td>{{result.avgscore}}</td>
        <td>{{result.count}}</td>
        <td>{{result.lastattempted}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>       
</div>
    <div class="modal fade" id="modChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title" id="username"></h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                    <canvas id="canvas" width="568" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>  
    <script>
        $(document).ready(function() {
            $('#leaderboard').DataTable({
                lengthMenu: [
                    [ 25, 50, 100, -1 ],
                    [ '25', '50', '100', 'All' ]
                ],
                buttons: [
                    'pageLength'
                ]
            });
        } );
        //make ajax call
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="{% static "userperfdata.js"%}"></script>
</body>
</html>