{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "answer.css"%}"/>
<style>
    .userattempt {
        text-decoration: underline;
        cursor: pointer;
    }
    .userattempt:hover {
        font-weight: bold;
    }

    .topheading {
        text-align: center;
        padding:30px;
        background-color: #dddddd;
    }

    #leaderboard_wrapper {
        margin-bottom: 30px;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
<div class="masthead text-center">
 <div class="container-fluid topheading">
        <h2>Leaderboard</h2> 
        <p>{{question}}</p> 
        <p>Total Attempts: <span id="count"></span></p> 
</div>
<div class="container">
   
<table id="leaderboard" class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td class="userattempt" onclick = "getResults('{{result.0}}')">{{result.0}}</td>
        <td>{{result.1}}</td>
        <td>{{result.2}}</td>
        <td>{{result.3}}</td>
        <td>{{result.4}}</td>
        <td>{{result.5}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>       
</div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="username"></span> : {{question}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% include "markedscript.html" %}
            </div>
            </div>   
        </div>
    </div>
</div>
    {% include "footer.html" %}
    <script src="{% static "displayresults.js" %}"></script>
    <script src="{% static "retrieveresults.js" %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>    
    <script>
        $(document).ready(function() {
            var mytable = $('#leaderboard').DataTable({
                lengthMenu: [
                    [ 25, 50, 100, -1 ],
                    [ '25', '50', '100', 'All' ]
                ],
                buttons: [
                    'pageLength'
                ]
            });
            $('#count').text(mytable.data().length);
        } );
    </script>
</body>
    </html>