<div class="container">
    <div class="row">
        <p class="col-sm-12 col-md-12" id='essay'></p>
    </div>
    <div class="row" id="res">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Overall Score</th>
                    <td id="score"></td>
                </tr>
                <tr>
                    <th>Word Count</th>
                    <td id="w_c"></td>
                </tr>
                <tr>
                    <th>Grammar Errors</th>
                    <td id="grammar"></td>
                </tr>
                <tr>
                    <th>Spelling Mistakes</th>
                    <td id="spelling"></td>
                </tr>
                <tr>
                    <th>Word Limit Penalty</th>
                    <td id="wordlimit"></td>
                </tr>
                <tr>
                    <th>Sentence Quality Penalty</th>
                    <td id="sentencequality"></td>
                </tr>
                <tr>
                    <th>Word Quality Penalty</th>
                    <td id="wordquality"></td>
                </tr>
            </tbody>
        </table>
    </div>