{% load static %}
{% load bootstrap4 %}
{% include 'header.html' %}

<div class="masthead text-center">
    <h1>Practice Questions</h1>
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-12">
    <table class="table table-striped">
        <tbody>     
{% for question in object_list %}
  <tr>
    <td class="lead">{{ question }}</td>
    <td><a href="{% url 'attempt' question.code %}"><button class="btn btn-success my-auto">attempt</button></a></td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
    {% include 'footer.html' %}
</html>
