{% load static %}
{% load bootstrap4 %}
{% include 'header.html' %}
<style>
 .input-group-btn button {
    border-radius:0 5px 5px 0;
    height:40px;
 } 
 .qcreate {
     font-weight: bold;
 }  
 #qform {
     margin-bottom:30px;
 }
</style>
<h1 style="text-align: center; margin:10px auto;">Question Manager</h1>
<div class="container text-center">
    <div id="qform" class="card mb-12">
        <div class="card-header" id="h{{question.id}}" role="button" data-toggle="collapse" data-target="#c{{question.id}}" aria-expanded="true" aria-controls="c{{question.id}}">
            <p class="lead qcreate">Create a new question</p>
        </div>
        <div id="c{{question.id}}" class="collapse" aria-labelledby="h{{question.id}}" data-parent="#accordion">
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-md-12">
                        {%  bootstrap_field form.question %}
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        {%  bootstrap_field form.word_limit %}
                    </div>
                    <div class="col-md-4">
                            {%  bootstrap_field form.time_limit %}
                    </div>
                    <div class="col-md-4">
                            {%  bootstrap_field form.attempts_allowed %}
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Question</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <table id="questions" class="table">
        <thead>
            <tr>
            <th>Question</th>
            <th>Code</th>
            <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for question in object_list %}
            <tr>
            <td>{{question}}</td>
            <td>{{question.code}}</td>
            <td>{{question.date_created}}</td>
            <td>
                    <a href="{% url 'leaderboard' question.id %}"><button class="btn btn-primary">Leaderboard</button></a>
                    <!-- <a href="{% url 'delete' question.id %}"><button class="btn btn-danger">Delete</button></a> -->
                    <a href="{% url 'updatequestion' question.id %}"><button class="btn btn-link">Edit</button></a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>       
</div>

<div style="height:30px;"></div>

{% include 'footer.html' %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#questions').DataTable();
    } );
</script>
</body>
</html>