{% load static %}
{% load bootstrap4 %}
{% include 'header.html' %}
<style>
 .input-group-btn button {
    border-radius:0 5px 5px 0;
    height:40px;
 } 
 .qcreate {
     font-size:1.5em;
     margin:0;
     padding:0;
 }  
 #qform {
     margin-bottom:30px;
 }
 #questions_wrapper {
     margin-bottom: 30px;
 }
 .topheading {
        text-align: center;
        padding:30px;
        background-color: #dddddd;
        margin-bottom: 30px;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>

<div class="container-fluid topheading">
        <h1 style="text-align: center; margin:10px auto;">Question Manager</h1>
        <p>Total Questions: <span id="count"></span></p> 
</div>
<div class="container text-center">
    <div id="qform" class="card mb-12 bg-dark text-white">
        <div class="card-header" id="createquestion" role="button" data-toggle="collapse" data-target="#createquestionform" aria-expanded="true" aria-controls="createquestionform">
            <p class="qcreate">Create a new question</p>
        </div>
        <div id="createquestionform" class="collapse" aria-labelledby="createquestion" data-parent="#accordion">
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-md-12">
                        {%  bootstrap_field form.question %}
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        {%  bootstrap_field form.word_limit %}
                    </div>
                    <div class="col-md-4">
                            {%  bootstrap_field form.time_limit %}
                    </div>
                    <div class="col-md-4">
                            {%  bootstrap_field form.attempts_allowed %}
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Question</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <table id="questions" class="table">
        <thead>
            <tr>
            <th>Question</th>
            <th>Code</th>
            <th>Date Created</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in object_list %}
            <tr>
            <td>{{question}}</td>
            <td>{{question.code}}</td>
            <td>{{question.date_created}}</td>
            <td>
                    <a href="{% url 'leaderboard' question.id %}"><button class="btn btn-primary btn-sm">Leaderboard</button></a>
                    <!-- <a href="{% url 'delete' question.id %}"><button class="btn btn-danger">Delete</button></a> -->
                    <a href="{% url 'updatequestion' question.id %}"><button class="btn btn-link btn-sm">Edit</button></a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>       
</div>

{% include 'footer.html' %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        var q = $('#questions').DataTable({
                lengthMenu: [
                    [ 25, 50, 100, -1 ],
                    [ '25', '50', '100', 'All' ]
                ],
                buttons: [
                    'pageLength'
                ]
            });
        $('#count').text(q.data().length);
    } );
</script>
</body>
</html>