{% load static %}
{% include 'header.html' %}

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-9">
        {% for question in object_list %}
          <div class="card">
            <div class="card-body d-flex flex-wrap">
                <p class="card-text col">{{ question }}</p>
                <a href="{% url 'answer' question.id %}"><button class="btn btn-success my-auto">attempt</button></a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
</html>