<div class="row">
    <div class="col-sm-8 col-md-8">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="col-sm-4 col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <td>Avg Score</td>
                    <td>{{avgscore}}</td>
                </tr>
                <tr>
                    <td>Total Attempts</td>
                    <td>{{totalattempts}}</td>
                </tr>
                <tr>
                    <td>Last Attemptted</td>
                    <td>{{lastattempted}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>